<%= simple_form_for(@ingrediente) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <% categoria = {'Verdura' => 'Verdura', 'Pan' => 'Pan', 'Pollo' => 'Pollo'} %>
    <%= f.input :categoria, collection: categoria, prompt: "Eliga un tipo...", disabled: @edit %>
    <%= f.input :refrigerado, as: :boolean, disabled: @edit %>
    <%= f.input :nombre, disabled: @edit %>
    <%= f.input :stock_actual, disabled: @edit %>
    <%= f.input :stock_critico %>
    <%= f.input :stock_ideal %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
