<h1>Listing ingredientes</h1>

<div class="row">
    <div class="col-xs-12">
        <div class="box-body table-responsive no-padding">
          <table class="table table-hover">
            <tr>
              <th>Nombre</th>
              <th>Refrigerado</th>
              <th>Categoria</th>
              <th>Stock actual</th>
              <th>Stock critico</th>
              <th>Stock ideal</th>
              <th colspan="2"></th>
            </tr>

            <% @ingredientes.each do |ingrediente| %>
              <tr>
                <td><%= link_to ingrediente.nombre, ingrediente %></td>
                <td><%= si_o_no ingrediente.refrigerado %></td>
                <td><%= ingrediente.categoria %></td>
                <td><%= ingrediente.stock_actual %></td>
                <td><%= ingrediente.stock_critico %></td>
                <td><%= ingrediente.stock_ideal %></td>
                <td><%= link_to 'Editar', edit_ingrediente_path(ingrediente) %></td>
                <td><%= link_to 'Eliminar', ingrediente, method: :delete, data: { confirm: '¿Está seguro que desea eliminar este ingrediente?' } %></td>
              </tr>
            <% end %>
          </table>
        </div><!-- /.box-body -->
    </div>
</div>