<p>
  <strong>Vendedor:</strong>
  <%= @venta.user.email %>
</p>

<p>
  <strong>Fecha hora:</strong>
  <%= @venta.fecha_hora %>
  <!-- .strftime("%d-%m-%Y %H:%M") -->
</p>

<p>
  <strong>Nombre cliente:</strong>
  <%= @venta.nombre_cliente %>
</p>

<p>
  <strong>Precio total:</strong>
  <%= @venta.precio_total %>
</p>

<p>
  <strong>Comentario perdida:</strong>
  <%= @venta.comentario_perdida %>
</p>

<p>
  <strong>Numero de caja:</strong>
  <%= @venta.numero_de_caja %>
</p>

<p>
  <strong>Estado venta:</strong><%= obtener_label_venta @venta.estado_venta %>
</p>

<p>
  <strong>Tiempo terminado venta:</strong>
  <%= @venta.tiempo_terminado_venta %>
</p>

<!--%= link_to 'Edit', edit_venta_path(@venta) %> |
<%= link_to 'Back', venta_path %>-->

<div class="box-header">
  <h3 class="box-title">Productos Basicos</h3>
</div>
<table class="table table-hover" id="tabla_basicos">
    <tr>
        <th>Nombre</th>
        <th>Cantidad</th>
        <th>Precio</th>
        <th>Total</th>
        <th>Comentario</th>
    </tr>
    <% if @venta.detalle.any? %>
        <% i_basicos = 0 %>
        <% i_compuestos = 0 %>
        <% i = 0 %>
        <% @venta.detalle.each do | detalle | %>
            <tr>
                <td>
                    <% if !detalle.basico_id.nil? %>
                        <%= @venta.basico[ i_basicos ].nombre_producto %>
                        <% i_basicos = i_basicos + 1 %>
                    <% elsif !detalle.compuesto_id.nil? %>
                        <%= @venta.compuesto[ i_compuestos ].nombre_producto %>
                        <% i_compuestos = i_compuestos + 1 %>
                    <% end %>
                </td>
                <td><%= @venta.detalle[i].cantidad %></td>
                <td><%= @venta.detalle[i].precio / @venta.detalle[i].cantidad %></td>
                <td><%= @venta.detalle[i].precio %></td>
                <td><%= @venta.detalle[i].comentario %></td>
            </tr>
            <% i = i + 1 %>
        <% end %>
    <% end %>
</table>
