<p id="notice"><%= notice %></p>

<p>
  <strong>Basico:</strong>
  <%= @create_detalles_basico.basico_id %>
</p>

<p>
  <strong>Ingrediente:</strong>
  <%= @create_detalles_basico.ingrediente_id %>
</p>

<p>
  <strong>Cantidad:</strong>
  <%= @create_detalles_basico.cantidad %>
</p>

<%= link_to 'Edit', edit_create_detalles_basico_path(@create_detalles_basico) %> |
<%= link_to 'Back', create_detalles_basicos_path %>
