<%= page_title "Mermas - insumos" %>
<a href="<%= url_for new_merma_insumo_path %>" class="pull-right"><button type="button" class="btn btn-success">Añadir Nueva Merma de insumo</button></a>
<div class="row">
    <div class="col-xs-12">
        <div class="box-body table-responsive no-padding">
            <table class="table table-hover">
  <thead>
    <tr>
      <th>Cantidad</th>
      <th>Fecha merma</th>
      <th>Comentario merma</th>
      <th>insumo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @merma_insumos.each do |merma_insumo| %>
      <tr>
        <td><%= merma_insumo.cantidad_merma %></td>
        <td><%= merma_insumo.fecha_merma %></td>
        <td><%= merma_insumo.comentario_merma %></td>
        <td><%= merma_insumo.insumo %></td>
        <td><%= link_to 'Editar', edit_merma_insumo_path(merma_insumo) %></td>
        <td><%= link_to 'Eliminar', merma_insumo, method: :delete, data: { confirm: 'Esta seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
        </div><!-- /.box-body -->
    </div>
</div>
