<h1>Listing merma_materials</h1>

<table>
  <thead>
    <tr>
      <th>Cantidad merma</th>
      <th>Fecha merma</th>
      <th>Comentario merma</th>
      <th>Ingredientes</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @merma_materials.each do |merma_material| %>
      <tr>
        <td><%= merma_material.cantidad_merma %></td>
        <td><%= merma_material.fecha_merma %></td>
        <td><%= merma_material.comentario_merma %></td>
        <td><%= merma_material.ingredientes %></td>
        <td><%= link_to 'Show', merma_material %></td>
        <td><%= link_to 'Edit', edit_merma_material_path(merma_material) %></td>
        <td><%= link_to 'Destroy', merma_material, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Merma material', new_merma_material_path %>
