<%= form_for(@compuesto, :html => {:class => "form-horizontal"}) do |f| %>
  <% if @compuesto.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@compuesto.errors.count, "error") %> prohibited this compuesto from being saved:</h2>

      <ul>
      <% @compuesto.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="form-group" class="field">
        <label for="input_precio" class="col-sm-2 control-label">Precio</label>
        <div class="col-sm-2">
            <%= f.text_field :precio, :html => {:class => "form-control"}%>
            <!--
            <input type="text" class="form-control" id="input_precio" placeholder="e.g: 5000" value="<%= @compuesto.precio %>">
            -->
        </div>
    </div>
    <div class="form-group" class="field">
      <label for="input_nombre" class="col-sm-2 control-label">Nombre</label>
        <div class="col-sm-2">
            <%= f.text_field :nombre_producto, :html => {:class => "form-control"}%>
            <!--
            <input type="text" class="form-control" id="input_precio" placeholder="e.g: Combo 1" value="<%= @compuesto.nombre_producto %>">
            -->
        </div>
    </div>
    <div class="form-group" class="field">
      <label for="input_enventa" class="col-sm-2 control-label">en_venta</label>
        <div class="col-sm-2">
            <%= f.check_box :en_venta, :html => {:class => "form-control"}%>
            
            <!-- <input type="checkbox" class="form-control minimal-red" id="input_precio" placeholder="e.g: Combo 1" <%= "checked" if @compuesto.en_venta %>> -->
        </div>
    </div>
    <div class="form-group" class="field">
        <div class="col-sm-offset-2">
            <%= boton_guardar_cancelar((f.submit "Guardar", :class => "btn btn-success"), compuestos_path) %>
        </div>
    </div>

    <!-- Basicos -->    
    <% if @compuesto.basico.any? %>
        <table class="table table-hover">
            <tr>
                <th>ID</th>
                <th>User</th>
                <th>Date</th>
                <th>Status</th>
                <th>Reason</th>
            </tr>
            <% @compuesto.basico.each do | basico | %>
            <tr>
                <td><%= basico.id              %></td>
                <td><%= basico.nombre_producto %></td>
                <td><%= basico.precio          %></td>
                <td><%= basico.composicion.at(0).cantidad        %></td>
                <td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td>
            </tr>
            <% end %>
        </table>
    <% end %>
<% end %>