<%= form_for(@compuesto, :html => {:class => "form-horizontal"}) do |f| %>
  <% if @compuesto.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@compuesto.errors.count, "error") %> prohibited this compuesto from being saved:</h2>

      <ul>
      <% @compuesto.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="form-group" class="field">
        <label for="input_precio" class="col-sm-2 control-label">Precio</label>
        <div class="col-sm-2">
            <input type="text" class="form-control" id="input_precio" placeholder="e.g: 5000" value="<%= @compuesto.precio %>">
        </div>
    </div>
    <div class="form-group" class="field">
      <label for="input_nombre" class="col-sm-2 control-label">Nombre</label>
        <div class="col-sm-2">
            <input type="text" class="form-control" id="input_precio" placeholder="e.g: Combo 1" value="<%= @compuesto.nombre_producto %>">
        </div>
    </div>
    <div class="form-group" class="field">
      <label for="input_enventa" class="col-sm-2 control-label">en_venta</label>
        <div class="col-sm-2">
            <input type="checkbox" class="form-control minimal-red" id="input_precio" placeholder="e.g: Combo 1" <%= "checked" if @compuesto.en_venta %>>
        </div>
    </div>
    <div class="form-group" class="field">
        <div class="col-sm-offset-2">
            <%= render "html/boton_guardar_cancelar" %>
        </div>
    </div>
<% end %>

