<%= form_for(@compuesto) do |f| %>
  <% if @compuesto.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@compuesto.errors.count, "error") %> prohibited this compuesto from being saved:</h2>

      <ul>
      <% @compuesto.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :precio %><br>
    <%= f.number_field :precio %>
  </div>
  <div class="field">
    <%= f.label :nombre_producto %><br>
    <%= f.text_field :nombre_producto %>
  </div>
  <div class="field">
    <%= f.label :en_venta %><br>
    <%= f.check_box :en_venta %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
