<%= page_title "Agregar Producto Compuesto" %>
<%= form_for(@compuesto, :html => {:class => "form-horizontal"}) do |f| %>
  <% elemento = @compuesto %>
  <% if elemento.errors.any? %>
    <div class="alert alert-warning alert-dismissable">
      <i class="fa fa-warning"></i>
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <!-- <i class="fa fa-warning text-yellow"> -->
      <b>Hay errores con los datos que ingreso:</b>
      <ul>
      <% elemento.errors.each do |key, message| %>
        <li>
          <% if key != :general %>
            <%= key.capitalize.to_s.gsub( '_', ' ' ) %> 
          <% end %>
          <%= message %>
        </li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="form-group" class="field">
      <label for="input_nombre" class="col-sm-2 control-label">Nombre</label>
        <div class="col-sm-2">
            <%= f.text_field :nombre_producto, :html => {:class => "form-control"}%>
            <!--
            <input type="text" class="form-control" id="input_precio" placeholder="e.g: Combo 1" value="<%= @compuesto.nombre_producto %>">
            -->
        </div>
    </div>
    <div class="form-group" class="field">
        <label for="input_precio" class="col-sm-2 control-label">Precio</label>
        <div class="col-sm-2">
            <%= f.text_field :precio, :html => {:class => "form-control"}%>
        </div>
    </div>
    <div class="form-group" class="field">
      <label for="input_enventa" class="col-sm-2 control-label">en_venta</label>
        <div class="col-sm-2">
            <%= f.check_box :en_venta, :html => {:class => "form-control"}%>
        </div>
    </div>
    <% diferencia_basicos = Basico.all - @compuesto.basico %>
    <% if diferencia_basicos.any? %>
        <div class="form-group" id="div_select_basico">
            <label for="input_enventa" class="col-sm-2 control-label">Añadir productos básicos</label>
            <div class="col-sm-2">
                <select id="select_basico" class="form-control">
                    <% diferencia_basicos.each do | basico | %>
                        <%= ('<option value="' + basico.id.to_s + '">' + basico.nombre_producto + '</option>').html_safe %>
                    <% end %>
                </select>
            </div>
            <div class="col-sm-2">
                <a href="#" id="agregar">Agregar</a>
            </div>
        </div>
    <% end %>
    <div class="form-group" class="field">
        <div class="col-sm-offset-2">
            <%= boton_guardar_cancelar((f.submit "Guardar", :class => "btn btn-success"), compuestos_path) %>
        </div>
    </div>

    <!--
    <%= f.fields_for :basicos do |builder|  %>
        <%= builder.select :basico_id, Basico.all.collect {|x| [x.nombre_producto, x.id]}, {}, :id => "select_basico" %>
    <% end %>-->

    <!-- Basicos -->    
    <%= f.fields_for :basicos do |builder|  %>
        <table class="table table-hover" id="tabla_basicos">
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Cantidad</th>
                <th>Eliminar</th>
            </tr>
            <% if @compuesto.basico.any? %>
                <% i = 0 %>
                <% @compuesto.basico.each do | basico | %>
                    <tr>
                        <td><input type="hidden" name="compuesto[basico][][id]" value="<%= basico.id %>"><%= basico.id              %></td>
                        <td><%= basico.nombre_producto %></td>
                        <!--<td><%= @compuesto.composicion.inspect %></td>-->
                        <!--<td><%= basico.composicion.at(0).cantidad        %></td>-->
                        <td><input type="text" name="compuesto[basico][][cantidad]" value="<%= @compuesto.composicion[i].cantidad        %>"></td>
                        <td><a href="#" class="eliminar">Eliminar</a></td>
                    </tr>
                    <% i = i + 1 %>
                <% end %>
            <% end %>
        </table>
    <% end %>
<% end %>
<script type="text/javascript">
    $(function(){
        $('#tabla_basicos').delegate('.eliminar', 'click', function(){
            // Agrego el producto a la lista elegible
            var select = $('#select_basico');
            var valor_seleccionado = $(this).closest('input').val();
            if( select.find('option[value='+ valor_seleccionado +']').length == 0){
                var eliminado        = $(this).closest('tr');
                var eliminado_nombre = eliminado.find('td:nth-child(2)');
                var eliminado_value  = eliminado.find('td:nth-child(1)');
                select.append( new Option(eliminado_nombre.text(),eliminado_value.text()) );
            }

            $(this).closest('tr').remove();
            //$('#agregar').show();
            //$('#select_basico').show();
            $('#div_select_basico').show();
        });
        $('#agregar').on('click', function(){
         var row = '<tr>';
            row += '<td><input type="hidden" name="compuesto[basico][][id]" value ="'+$('#select_basico').val()+'">' + $('#select_basico').val() + '</td>';
            row += '<td>' + $('#select_basico :selected').text() + '</td>';
            row += '<td><input type="text" name="compuesto[basico][][cantidad]" value="1"></td>';
            row += '<td><a href="#" class="eliminar">Eliminar</a></td>';
            row += '</tr>';
            $('#tabla_basicos tr:last').after(row);

            // Remuevo el producto de la lista elegible
            $('#select_basico :selected').remove();
            if($('#select_basico option').length == 0){
                //$('#agregar').hide();
                //$('#select_basico').hide();
                $('#div_select_basico').hide();
            }
        });
    });
</script>