<%= form_for(@compuesto, :html => {:class => "form-horizontal"}) do |f| %>
  <% if @compuesto.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@compuesto.errors.count, "error") %> prohibited this compuesto from being saved:</h2>

      <ul>
      <% @compuesto.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="form-group" class="field">
        <label for="input_precio" class="col-sm-2 control-label">Precio</label>
        <div class="col-sm-2">
            <%= f.text_field :precio, :html => {:class => "form-control"}%>
        </div>
    </div>
    <div class="form-group" class="field">
      <label for="input_nombre" class="col-sm-2 control-label">Nombre</label>
        <div class="col-sm-2">
            <%= f.text_field :nombre_producto, :html => {:class => "form-control"}%>
            <!--
            <input type="text" class="form-control" id="input_precio" placeholder="e.g: Combo 1" value="<%= @compuesto.nombre_producto %>">
            -->
        </div>
    </div>
    <div class="form-group" class="field">
      <label for="input_enventa" class="col-sm-2 control-label">en_venta</label>
        <div class="col-sm-2">
            <%= f.check_box :en_venta, :html => {:class => "form-control"}%>
        </div>
    </div>
    <div class="form-group" class="field">
        <div class="col-sm-offset-2">
            <%= boton_guardar_cancelar((f.submit "Guardar", :class => "btn btn-success"), compuestos_path) %>
        </div>
    </div>

    <!--
    <% basicos = Basico.all - @compuesto.basico %>
    -->
    <!--<p>%= f.collection_select :basico, :basicos_id, Basico.all, :id %></p>-->
    <!--%= f.collection_select :basico_id, Basico.all, :id, :nombre_producto %>-->
    <% diferencia_basicos = Basico.all - @compuesto.basico %>
    <% if diferencia_basicos.any? %>
        <select id="select_basico">
            <% diferencia_basicos.each do | basico | %>
                <%= ('<option value="' + basico.id.to_s + '">' + basico.nombre_producto + '</option>').html_safe %>
            <% end %>
        </select>
    <% end %>
    <!--
    <%= f.fields_for :basicos do |builder|  %>
        <%= builder.select :basico_id, Basico.all.collect {|x| [x.nombre_producto, x.id]}, {}, :id => "select_basico" %>
    <% end %>-->

    <a href="#" id="agregar">Agregar</a>

    <!-- Basicos -->    
    <%= f.fields_for :basicos do |builder|  %>
        <table class="table table-hover" id="tabla_basicos">
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Cantidad</th>
                <th>Eliminar</th>
            </tr>
            <% if @compuesto.basico.any? %>
                <% @compuesto.basico.each do | basico | %>
                <tr>
                    <td><input type="hidden" name="compuesto[basicos][basico_id][]" value="<%= basico.id %>"><%= basico.id              %></td>
                    <td><%= basico.nombre_producto %></td>
                    <td><%= basico.precio          %></td>
                    <!--<td><%= basico.composicion.at(0).cantidad        %></td>-->
                    <td><a href="#" class="eliminar">Eliminar</a></td>
                </tr>
                <% end %>
            <% end %>
        </table>
    <% end %>
<% end %>
<script type="text/javascript">
    $(function(){
        $('#tabla_basicos').delegate('.eliminar', 'click', function(){
            // Agrego el producto a la lista elegible
            var select = $('#select_basico');
            var valor_seleccionado = $(this).closest('input').val();
            if( select.find('option[value='+ valor_seleccionado +']').length == 0){
                var eliminado        = $(this).closest('tr');
                var eliminado_nombre = eliminado.find('td:nth-child(2)');
                var eliminado_value  = eliminado.find('td:nth-child(1)');
                select.append( new Option(eliminado_nombre.text(),eliminado_value.text()) );
            }

            $(this).closest('tr').remove();
            $('#agregar').show();
            $('#select_basico').show();
        });
        $('#agregar').on('click', function(){
         var row = '<tr>';
            row += '<td><input type="hidden" name="compuesto[basicos][basico_id][]" value ="'+$('#select_basico').val()+'">' + $('#select_basico').val() + '</td>';
            row += '<td>' + $('#select_basico :selected').text() + '</td>';
            row += '<td>' + 'hola' + '</td>';
            row += '<td><a href="#" class="eliminar">Eliminar</a></td>';
            row += '</tr>';
            $('#tabla_basicos tr:last').after(row);

            // Remuevo el producto de la lista elegible
            $('#select_basico :selected').remove();
            if($('#select_basico option').length == 0){
                $('#agregar').hide();
                $('#select_basico').hide();
            }
        });
    });
</script>