<%= page_title "Productos Compuestos" %>

<div class="row">
    <div class="col-xs-12">
        <div class="box-body table-responsive no-padding">
            <table class="table table-hover">
                <tr>
                    <th>ID</th>
                    <th>Producto</th>
                    <th>Precio</th>
                    <th>En venta</th>
                    <th>Modificar</th>
                </tr>
                
                <% @compuestos.each do |compuesto| %>
                  <tr>
                    <td><%= compuesto.id %></td>
                    <td><%= compuesto.nombre_producto %></td>
                    <td><%= compuesto.precio %></td>
                    <td>
                        <span class="label <%= if compuesto.en_venta then "label-success" else "label-warning" end %>">
                            <%= if compuesto.en_venta then "Si&nbsp;".html_safe else "No" end %>
                        </span>
                        &nbsp;
                        <%= link_to '<i class="fa fa-undo"></i>'.html_safe, compuesto, method: :delete, data: { confirm: '¿Está seguro?' } %>
                    </td>
                    <!--<td><%= link_to 'Show', compuesto %></td> -->
                    <td><%= link_to 'Modificar', edit_compuesto_path(compuesto) %></td>
                        <td></td>
                  </tr>
                <% end %>

            </table>
        </div><!-- /.box-body -->
    </div>
</div>
<a href="<%= url_for new_compuesto_path %>" class="pull-right"><button type="button" class="btn btn-success">Añadir Producto Compuesto</button></a>