<p id="notice"><%= notice %></p>

<div class="jumbotron">
  <h1><%= @compuesto.nombre_producto %></h1>
  <p>Precio: <%= @compuesto.precio %></p>
  <p><a href="<%= url_for edit_compuesto_path(@compuesto) %>" class="btn btn-primary btn-lg" role="button">Editar</a></p>
  <%= @compuesto.en_venta %>
</div>

<p><a href="<%= url_for compuestos_path %>" class="btn btn-primary btn-lg" role="button">Volver</a></p>
