<%= simple_form_for(@insumo) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <% tiposInsumo = {'Envase' => 'Envase', 'Envoltorio' => 'Envoltorio', 'Higiene' => 'Higiene'} %>
    <%= f.input :tipo_insumo, collection: tiposInsumo, prompt: "Eliga un tipo...", disabled: @edit %>
    <%= f.input :nombre_insumo, disabled: @edit %>
    <!--%= f.input :categoria_insumo %-->
    <%= f.input :stock_actual, disabled: @edit %>
    <%= f.input :stock_critico %>
    <%= f.input :stock_ideal %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
