<%= page_title "Insumos" %>
<a href="<%= url_for new_insumo_path %>" class="pull-right"><button type="button" class="btn btn-success">Añadir Ingrediente</button></a>
<div class="row">
    <div class="col-xs-12">
        <div class="box-body table-responsive no-padding">
          <table class="table table-hover">
            <tr>
                <th>Tipo insumo</th>
                <th>Nombre insumo</th>
                <th>Categoria insumo</th>
                <th>Stock actual</th>
                <th>Stock critico</th>
                <th>Stock ideal</th>
                <th colspan="2"></th>
            </tr>

            <% @insumos.each do |insumo| %>
              <tr>
                <td><%= insumo.tipo_insumo %></td>
                <td><%= insumo.nombre_insumo %></td>
                <td><%= insumo.categoria_insumo %></td>
                <td><%= insumo.stock_actual %></td>
                <td><%= insumo.stock_critico %></td>
                <td><%= insumo.stock_ideal %></td>
                <td><%= link_to 'Editar', edit_ingrediente_path(insumo) %></td>
              </tr>
            <% end %>
          </table>
        </div><!-- /.box-body -->
    </div>
</div>
