<h1>Register</h1>

<% form_for @user, :url => account_path do |f| %>
  <%= f.error_messages %>
  <%= render :partial => "form", :object => f %>
  <%= f.submit "Register" %>
<% end %>
<!--
<h1>New user</h1>

<%= render 'form' %>

<%= link_to 'Back', users_path %>
-->