<div class="row">
<div class="col-md-3">
<%= page_title "Nuevo Usuario" %>
<% url_crear = (url_for :controller => 'user', :action => 'crear') %>
<%= simple_form_for @user, :url => url_crear do |f| %>
<!--
%= form_for(@user, :html => {:class => "form-horizontal"}) do |f| %>
-->
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= @user.errors.count %> <%= @user.errors.count == 1 ? 'error' : 'errores' %></h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-inputs">
	<div class="form-group" class="field">
		<!-- <%= f.label :rut, autofocus: true, :html => {:class => "col-sm-2 control-label"} %> -->
	    <%= f.text_field :rut, :class => "form-control", :placeholder => "Rut" %>
	</div>
  	<div class="form-group" class="field">
		<!-- <%= f.label :email, autofocus: true, :html => {:class => "col-sm-2 control-label"} %> -->
	    <%= f.text_field :email, :class => "form-control", :placeholder => "Email", autocomplete: 'off', value: '' %>
	</div>
	<div class="form-group" class="field">
		<!-- <%= f.label :password, autofocus: true, :html => {:class => "col-sm-2 control-label"} %> -->
	    <%= f.password_field :password, :class => "form-control", :placeholder => "Contraseña", autocomplete: 'off' %>
	</div>
	<div class="form-group" class="field">
		<!-- <%= f.label :password_confirmation, autofocus: true, :html => {:class => "col-sm-2 control-label"} %> -->
	    <%= f.password_field :password_confirmation, :class => "form-control", :placeholder => "Confirmar contraseña" %>
	</div>
	<div class="form-group" class="field">
		<!-- <%= f.label :nombre, autofocus: true, :html => {:class => "col-sm-2 control-label"} %> -->
	    <%= f.text_field :nombre, :class => "form-control", :placeholder => "Nombre" %>
	</div>
	<div class="form-group" class="field">
		<!-- <%= f.label :apellido_paterno, autofocus: true, :html => {:class => "col-sm-2 control-label"} %> -->
	    <%= f.text_field :apellido_paterno, :class => "form-control", :placeholder => "Apellido Paterno" %>
	</div>
	<div class="form-group" class="field">
		<!-- <%= f.label :apellido_materno, autofocus: true, :html => {:class => "col-sm-2 control-label"} %> -->
	    <%= f.text_field :apellido_materno, :class => "form-control", :placeholder => "Apellido Materno" %>
	</div>
	<div class="form-group" class="field">
		<!-- <%= f.label :telefono, autofocus: true, :html => {:class => "col-sm-2 control-label"} %> -->
	    <%= f.text_field :telefono, :class => "form-control", :placeholder => "Telefono" %>
	</div>
	<div class="form-group" class="field">
	    <%= f.select :rol, options_for_select({'Cocinero' => User::COCINERO, 'Vendedor' => User::VENDEDOR , 'Administrador' => User::ADMINISTRADOR}), :class => "form-control" %>
	</div>
	<!--<button type="submit" class="btn bg-olive btn-block">Sign me in</button> -->
		<%= f.submit "Crear", :class => "btn bg-olive btn-block" %>
<% end %>
</div>
</div>